body {
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#container {
    display:flex;
    flex-direction: column;
   
}

.displayDiv {
    display: flex;
    border: 1px solid black;
    height: 80px;
    font-size: 36px;
    padding-right: 10px;
    justify-content: right;
    align-items: flex-end;
}

.numberButtons {
    height: 80px;
    width: 80px;
}

.numberDiv {
    height: 320px;
    width: 240px;
}

.buttonsDiv {
    display: flex;
}

.operatorDiv {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.operatorButtons {
    height: 80px;
    width: 80px;
}

.clearButton {
    height: 320px;
    width: 80px;
}