body {
    display:flex;
}

#container {
    display:flex;
    flex-direction: column;
   
}

.displayDiv {
    border: 1px solid black;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.button {
    
}

.buttonsDiv {
    display: flex;
}

.operatorDiv {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.operatorButtons {
    height: 40px;
    width: 40px;
}

.clearButton {
    height: 160px;
    width: 40px;
}